.vscode/**
.gitignore
*.md
!README.md
!CHANGELOG.md
!DEBUG.md
!QUICKSTART.md
!INTELLISENSE.md
src/**
test/**
out/test/**
tsconfig.json
.vscodeignore
.git
.gitignore
**/*.ts
**/tsconfig.json
**/.eslintrc.json
**/.vscode
**/node_modules/**/test/**
**/node_modules/**/tests/**
**/node_modules/**/*.md
**/node_modules/**/.travis.yml
